{% extends "base.html" %}

    {% block content %}
        <h1>Library</h1>
        <form action="" method="post">
          {{ form.filter.label }}
	  {% for subfield in form.filter %}
	    {{ subfield() }} {{ subfield.label }}
	  {% endfor %}
          {{ form.apply() }}
        </form>
	

<div class="mt-lg-4">

	<table class="table table-hover">
	  <thead class="table-dark">
            <tr>
              <th>Author</th>
              <th>Title</th>
	      <th>Owner</th>
	      <th>Actions</th>
            </tr>
	  </thead>
	  <tbody>
	    {% for book in books %}
		{#% include '_book.html' %#}
	        <tr valign="top">
                   <td>{{ book.author }}</td>
                   <td>{{ book.title }}</td>
                   <td>{{ book.owner.username }}</td>
		   <td>
                     <a href={{ url_for('main.book', book_id=book.id) }}>view</a>
                     <a href={{ url_for('main.delete_book', book_id=book.id) }}>delete</a>
                   </td>
                </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<a href="{{ url_for('main.add_book') }}"><input type="button" value="Add Book"></a>
    {% endblock %}
