{% extends "base.html" %}

{% block content %}

	<h1>Edit Book</h1>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.author.label }}<br>
			{{ form.author(size=32) }}<br>
			{% for error in form.author.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.title.label }}<br>
			{{ form.title(cols=64) }}<br>
			{% for error in form.title.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
	        <p>{{ form.submit() }} <a href="{{ url_for('book', book_id=book.id) }}"><input type="button" value="Cancel"></a></p>
	</form>
{% endblock %}
